body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EDFFD9;
    position: relative;
}

#header h2 {
    color: #EDFFD9;
    margin: 0;
    padding: 0;
}

#header {
    border-bottom: 2px solid #3A3042;
    padding: 20px;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #3A3042;
}

#header > div {
    display: flex;
    justify-content: space-evenly;
}

#header button {
    background-color: #3A3042;
    margin-right: 10px;
    color: #EDFFD9;
    font-weight: bold;
    border: 2px solid #EDFFD9;
    border-radius: 10px;
    padding: 5px 8px;
    transition: background-color 0.2s ease-out 0.01s,
                color 0.2s ease-out 0.01s;
}

#header button:hover {
    color: #3A3042;
    background-color: #EDFFD9;
    cursor: pointer;
}

button {
    background-color: #EDFFD9;
    margin-right: 10px;
    color: #3A3042;
    font-weight: bold;
    border: 2px solid #3A3042;
    border-radius: 10px;
    padding: 5px 8px;
    transition: background-color 0.2s ease-out 0.01s,
                color 0.2s ease-out 0.01s;
}


button:hover {
    color: #EDFFD9;
    background-color: #3A3042;
    cursor: pointer;
}

#content {
    display: flex;
    flex: 1 1 auto;
}

#projects {
    display: flex;
    flex-direction: column;
}

.project {
    min-width: 100%;
    min-height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    border-bottom: 2px solid #3A3042
}

.project:hover {
    background-color: #ff784f;
}

.active {
    background-color: #db9d47;
    font-weight: bold;
}

#content #projects {
    border-right: 2px solid #3A3042;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 25%;
}

#content #todos {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.todo-item {
    margin: 20px;
    border: 2px solid #3A3042;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 13px
}

.todo-item-left {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.todo-item input {
    -webkit-appearance: none;
    border-radius: 45%;
    padding: 13px;
    margin-right: 13px;
    transition: background-color 0.2s ease-out 0.01s;
    cursor: pointer;
}

.todo-item button {
    margin-left: 20px;
}

.one {
    border: 3px solid #6e0101;
    background-color: #cba8a8;
    transition: background-color 0.2s ease-out 0.01s;
}

.one:hover {
    background-color: #6e0101;
}

.two {
    border: 3px solid #897400;
    background-color: #d1cc7e;
    transition: background-color 0.2s ease-out 0.01s;
}

.two:hover {
    background-color: #897400;
}

.three {
    border: 3px solid #1300e3;
    background-color: #9f99e5;
    transition: background-color 0.2s ease-out 0.01s;
}

.three:hover {
    background-color: #1300e3;
}

.four {
    border: 3px solid rgb(72, 72, 72);
    background-color: slategray;
    transition: background-color 0.2s ease-out 0.01s;
}

.four:hover {
    background-color: rgb(72, 72, 72);
}

#footer {
    border-top: 2px solid #3A3042;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A3042;
    color: #EDFFD9;
}

#projectFormContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #3A3042;
    padding: 20px;
    width: 200px;
    height: 100px;
    background-color: #EDFFD9;
    color: #3A3042;
    border-radius: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#projectForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#itemFormContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #3A3042;
    padding: 20px;
    width: 200px;
    height: 300px;
    background-color: #EDFFD9;
    color: #3A3042;
    border-radius: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#itemForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

